body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2;
    flex-direction: column;
    display: flex;
}

.main__videos {
    flex-grow: 1;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__controls {
    display: flex;
    background-color:  #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    justify-content: space-between;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    align-items: center;
}

.main__controls__button i {
    font-size: 24px;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.leave_meeting {
    color: #EB534B;
}